*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    border: 1px solid #000000;
    width: 80%;
}
header  .mm{
    text-align: center;
    width: 50%;
    background: #ccffcc;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
}
nav{
    text-align: center;
    margin: 20px;
}
.calender{
    padding: 20px;  
}
.calender .weeks li{
    font-weight: 800;
    border: 1px solid #bfb3b3;
    background: #ffffcc;
    
}
.calender .days{
    margin-bottom: 20px;
    border: 1px solid #b9b5b5;
}
.calender ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.calender ul li{
    width: calc(100%/7);
    border: 1px solid #d5d1d1;
    padding: 10px;
}
.days .in-active{
    background: red;
}
.footer{
    /* background: #CCCC99; */
    margin-top: 10px;
    text-align: center;
}